$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    color: #FFF;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
}

#logo:hover {
    color: #FFF;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('cover_image.png');
    background-size: 100% 100%;
}

.jumbotron h1, h2{
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}


.jumbotron h2 {
    color: #c3a400;
    text-shadow: 1px 1px 1px #000;
}
h1, h2 {
    font-weight: 300;
    color: #000;
    text-shadow: none;
}

.btn-sign-up-lg {
    background-color: #000;
    font-weight: 300;
    border: 0;
}

.btn-sign-up-lg:hover {
    background-color: #000;
    border: 0;
}