<br/>
<hr/>

<footer class="footer">
    <p>
        <span>&copy; Year Company, Inc.</span>
        <span class="elem-span-right">
            <%= link_to "About Us", "#" %>
        </span>
    </p>
</footer>